#Data Science Tools and Ecosystem

##In this notebook, Data Science Tools and Ecosystem are summarized.

###Data Science Languages

In [20]:
ordered_list1=["Python","R","Scala","Julia","SQL"]
print(ordered_list1)

['Python', 'R', 'Scala', 'Julia', 'SQL']

###Data Science Libraries.

In [22]:
ordered_list2=["numpy","pandas","matplotlib"]
print(ordered_list2)

['numpy', 'pandas', 'matplotlib']

###Data Science Tools

In [23]:
ordered_list3=["Jupyter","Hadoop","Spark","Python"]
print(ordered_list3)

['Jupyter', 'Hadoop', 'Spark', 'Python']

###Below are a few examples of evaluating arithmetic expressions in Python

In [25]:
#multiply and add numbers
a=3
b=4
c=5
d=(a*b)+c
print(d)

17

In [26]:
#convert minutes to hours
m=200
h=(m/60)
print(h)

3.3333333333333335

#OBJECTIVES

In [1]:
unordered_list=["Python","R","Scala"]
print(unordered_list)

['Python', 'R', 'Scala']

##Author

Arunima Chanda